{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
    <title>AYUB</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<script src="https://cdn.tailwindcss.com"></script>
		<script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
		<script src="//unpkg.com/alpinejs" defer></script>
		{% tailwind_css %}
	</head>

	<body class="bg-white-50 font-serif leading-normal tracking-normal">
		<div>
			<nav x-data="{ isOpen: false }" class="container mx-auto p-6 lg:flex lg:items-center lg:justify-between">
				<div class="flex items-center justify-between">
				<div>
					<a class="text-2xl font-bold text-blue-800 hover:text-gray-700 dark:text-blue-800 dark:hover:text-blue-700 lg:text-3xl" href="#">AYUBFamily</a>
				</div>
		
				<!-- Mobile menu button -->
				<div class="flex lg:hidden">
					<button x-cloak @click="isOpen = !isOpen" type="button" class="text-gray-500 hover:text-gray-600 focus:text-gray-600 focus:outline-none dark:text-gray-200 dark:hover:text-gray-400 dark:focus:text-gray-400" aria-label="toggle menu">
					<svg x-show="!isOpen" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
						<path stroke-linecap="round" stroke-linejoin="round" d="M4 8h16M4 16h16" />
					</svg>
		
					<svg x-show="isOpen" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
						<path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
					</svg>
					</button>
				</div>
				</div>
		
				<!-- Mobile Menu open: "block", Menu closed: "hidden" -->
				<div x-cloak :class="[isOpen ? 'translate-x-0 opacity-100 ' : 'opacity-0 -translate-x-full']" class="absolute inset-x-0 z-20 w-full bg-white px-6 py-4 shadow-md transition-all duration-300 ease-in-out dark:bg-gray-900 lg:relative lg:top-0 lg:mt-0 lg:flex lg:w-auto lg:translate-x-0 lg:items-center lg:bg-transparent lg:p-0 lg:opacity-100 lg:shadow-none lg:dark:bg-transparent">
				<div class="lg:-px-8 flex flex-col space-y-4 lg:mt-0 lg:flex-row lg:space-y-0">
					<a class="transform text-blue-700 transition-colors duration-300 hover:text-blue-500 dark:text-blue-700 dark:hover:text-blue-400 lg:mx-8" href="{% url 'homepage' %}">Mucie</a>
					<a class="transform text-blue-700 transition-colors duration-300 hover:text-blue-500 dark:text-blue-700 dark:hover:text-blue-400 lg:mx-8" href="{% url 'adminpage' %}">Matangazo</a>
					<a class="transform text-blue-700 transition-colors duration-300 hover:text-blue-500 dark:text-blue-700 dark:hover:text-blue-400 lg:mx-8" href="{% url 'memberpage' %}">Ashirika</a>
					<a class="transform text-blue-700 transition-colors duration-300 hover:text-blue-500 dark:text-blue-700 dark:hover:text-blue-400 lg:mx-8" href="#">Thimu</a>
				</div>
		
				<a class="mt-4 block rounded-lg bg-blue-600 px-6 py-2.5 text-center font-medium capitalize leading-5 text-white hover:bg-blue-500 lg:mt-0 lg:w-auto" href="{% url 'truehome' %}">Anjia Ava</a>
				</div>
			</nav>
			<section class="h-screen bg-cover" style="background-image: url('https://images.unsplash.com/photo-1577896849786-738ed6c78bd3?q=80&w=2948&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')">
				<div class="flex h-full w-full items-center justify-center container mx-auto px-8">
				  <div class="max-w-2xl text-center">
					<h1 class="text-3xl sm:text-5xl capitalize tracking-widest text-white lg:text-7xl">AYUBU</h1>
			  
					<p class="mt-6 lg:text-lg text-white">Varia Tutunganaga</p>
			  
					<div class="mt-8 flex flex-col space-y-3 sm:-mx-2 sm:flex-row sm:justify-center sm:space-y-0">
					  <input id="email" type="text" class="rounded-md border border-transparent bg-white/20 px-4 py-2 text-white placeholder-white backdrop-blur-sm focus:border-blue-400 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-40 sm:mx-2" placeholder="Kamessage" />
			  
					  <button class="transform rounded-md bg-blue-700 px-8 py-2 text-sm font-medium capitalize tracking-wide text-white transition-colors duration-200 hover:bg-blue-600 focus:bg-blue-600 focus:outline-none sm:mx-2">Twaririe</button>
					</div>
				  </div>
				</div>
			</section>
				
				
				<script data-name="BMC-Widget" data-cfasync="false" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" data-id="sahilnetic" data-description="Support me on Buy me a coffee!" data-message="" data-color="#FFDD00" data-position="Right" data-x_margin="18" data-y_margin="18"></script>
		</div>
	</body>
</html>
